<div class="container-fluid px-1">
    <div class="row  ">
        <div class="col-lg-6">
            <div class="row  ">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-lg-12 d-flex justify-content-between px-1"><span
                                    class="fw-bolder text-gray-400">Shift</span>
                                <span class="fw-bolder text-gray-600">
                                    <!-- {{data.details.name}} -->
                                    C Shift
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-lg-12 d-flex justify-content-between px-1"><span
                                    class="fw-bolder text-gray-400">Area</span><span class="fw-bolder text-gray-600">
                                    <!-- {{data.details.area}} -->
                                    IVC Assembly
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row  ">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-lg-12 d-flex justify-content-between px-1"><span
                                    class="fw-bolder text-gray-400">Machine</span><span class="fw-bolder text-gray-600">
                                    <!-- {{ data.machineName }} -->
                                    VA-43
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body row">
                            <div class="col-lg-12 d-flex justify-content-between px-1"><span
                                    class="fw-bolder text-gray-400">Operator</span><span
                                    class="fw-bolder text-gray-600">
                                    <!-- {{ data.operator }} -->
                                    --
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-between">
                            <div class="text-gray-500 fw-bolder">OEE</div>
                            <div class="text-success fw-bolder">
                                <!-- {{data.oee}} -->
                                83.64%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-between">
                            <div class="text-gray-500 fw-bolder">Availability</div>
                            <div class="text-primary fw-bolder">
                                <!-- {{data.availability}} -->
                                95.83%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-between">
                            <div class="text-gray-500 fw-bolder">Performance</div>
                            <div class="text-info fw-bolder">
                                <!-- {{data.performance}} -->
                                88.8%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-between">
                            <div class="text-gray-500 fw-bolder">Quality</div>
                            <div class="text-blue fw-bolder">
                                <!-- {{data.quality}} -->
                                98.28%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row my-1">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Total
                                Production</span><span class="fw-bolder text-gray-600">
                                <!-- {{data.production}} -->
                                8170
                            </span></div>
                    </div>
                    <hr/>
                    <div class="row my-2">
                        <div class="col-lg-12 d-flex justify-content-between pointer"><span
                                class="fw-bolder text-gray-400">Total Rejection</span><span
                                class="fw-bolder text-gray-600">
                                <!-- {{data.rejection}} -->
                                140
                            </span></div>
                    </div>
                    <hr/>
                    <div class="row my-1">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Rejection Percent</span><span
                                class="fw-bolder text-gray-600">
                                <!-- {{data.rejectionPercent | number:'1.0-2'}} -->
                                1.71
                            </span></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row my-1">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Date</span><span class="fw-bolder text-gray-600">
                                <!-- {{data.date}} -->
                                25-02-2023
                            </span></div>
                    </div>
                    <hr/>
                    <div class="row my-2">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Shift
                                Start Time</span><span class="fw-bolder text-gray-600">
                                <!-- {{data.details.startTime}} -->
                                09:00 PM
                            </span>
                        </div>
                    </div>
                    <hr/>
                    <div class="row my-1">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Shift
                                End Time</span><span class="fw-bolder text-gray-600">
                                <!-- {{data.details.stopTime}} -->
                                05:00 AM
                            </span></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row my-1">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Uptime</span><span class="fw-bolder text-gray-600">
                                <!-- {{data.totalUptime}} -->
                                460
                            </span></div>
                    </div>
                    <hr/>
                    <div class="row my-2">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Planned
                                Downtime</span><span class="fw-bolder text-gray-600">
                                <!-- {{data.totalPDT}} -->
                                0
                            </span></div>
                    </div>
                    <hr/>
                    <div class="row my-1">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Speed
                                From Control Plan</span><span class="fw-bolder text-gray-600">
                                <!-- {{data.speedFromControlPlan | number:'1.0-2'}} -->
                                20
                            </span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="row my-1">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Downtime</span><span class="fw-bolder text-gray-600">
                                <!-- {{data.totalDowntime}} -->
                                20
                            </span></div>
                    </div>
                    <hr/>
                    <div class="row my-2">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Unplanned Downtime</span><span
                                class="fw-bolder text-gray-600">
                                <!-- {{data.totalUDT}} -->
                                20
                            </span></div>
                    </div>
                    <hr/>
                    <div class="row my-1">
                        <div class="col-lg-12 d-flex justify-content-between"><span
                                class="fw-bolder text-gray-400">Actual
                                Speed</span><span class="fw-bolder text-gray-600">
                                <!-- {{data.actualSpeed | number:'1.0-2'}} -->
                                17.7
                            </span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-lg-4 border border-top-0 border-bottom-0 border-start-0 border-gray-200"><span
                        class="fw-bolder text-gray-400">Product</span></div>
                <div class="col-lg-8 ps-5"><span class="fw-bolder text-gray-600">
                        <!-- {{data.venflon}} -->
                        VENFLON PRO 20GA
                    </span></div>
            </div>
            <hr/>
            <div class="row mt-2">
                <div class="col-lg-4 border border-top-0 border-bottom-0 border-start-0 border-gray-200"><span
                        class="fw-bolder text-gray-400">Remarks</span></div>
                <div class="col-lg-8 ps-5"><span class="fw-bolder text-gray-600">
                        <!-- {{data.remarks != null && data.remarks.length>0 ? data.remarks : "--"}} -->
                        --
                    </span></div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">Table</div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row mb-1">
                <div class="col-lg-12 fw-bolder text-gray-800 text-lg">Downtimes</div>
            </div>
            <div class="row">
                <div class="col-lg-12">Table</div>
            </div>
        </div>
    </div>

</div>