<form #downtimesForm="ngForm" action="" class="container-fluid h-100 d-flex flex-column">
    <div class="col container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="mt-2 d-flex justify-content-end align-items-center">
                    <button (click)="addPrechecks()" class="btn btn-flat-primary">
                        Pre checks
                    </button>
                    <button (click)="addDowntime()" class="btn btn-flat-primary ml-2">
                        Add Downtime
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row match-height position-relative mb-2 py-5 px-5 my-2">
                    <div class="col-4 mb-1" *ngFor="let dt of payload.downtimes; let i = index;">
                        <div class="mx-1 rounded border p-2 d-flex flex-column justify-content-center align-items-stretch">
                            <div class="d-flex justify-content-between align-items-center mb-1">
                            <span class="font-weight-bolder">
                                {{getReasonTitle(dt.reason, dt.precheck, dt.type)}}
                            </span>

                                <button class="btn btn-flat-danger text-nowrap flex-grow-0" rippleEffect
                                        (click)="deleteDowntime(i)">
                                    <i data-feather="trash-2"></i>
                                </button>
                            </div>

                            <div class="d-flex justify-content-start align-items-center mb-1">
                                <span class="badge badge-light-primary mr-1"
                                      *ngIf="dt.type === 'STATION_SPECIFIC'">{{ dt.stationName }}</span>
                                <span class="badge badge-light-primary mr-1" *ngIf="dt.precheck">Pre Check</span>
                            </div>

                            <div class="rounded border p-1 d-flex justify-content-between align-items-center">
                                <span class="font-weight-extra-bold mr-1">
                                Time
                                </span>
                                <span class="font-weight-bolder">
                                    {{dt.time}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 d-flex justify-content-between align-items-center pt-2">
        <div class="d-flex justify-content-start align-items-center">
            <button *ngIf="isNotEdit" class="btn btn-secondary" (click)="saveEntry(downtimesForm)"
                    rippleEffect><span [data-icon]="'save'"
                                       class="mr-1 font-medium-1"></span><span class="text-default">Save</span></button>
        </div>

        <div class="d-flex justify-content-end align-items-center">
            <button (click)="prev()" class="btn btn-flat-secondary btn-prev mr-1" rippleEffect>
                <i class="align-middle mr-sm-25 mr-0" data-feather="chevron-left"></i>
                <span class="align-middle d-sm-inline-block d-none ml-sm-1">Previous</span>
            </button>
            <button (click)="next()" class="btn btn-secondary btn-next" rippleEffect type="submit">
                <span class="align-middle d-sm-inline-block d-none mr-sm-2 text-default">Next</span>
                <i class="align-middle text-default" data-feather="chevron-right"></i>
            </button>
        </div>
    </div>
</form>
