<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Future Algorithms Private Limited
  Copyright 2022 Future Algorithms Private Limited.
  Unauthorized copying of any files, via any medium is strictly prohibited.
  All Rights Reserved.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--Scroll to top-->
<button (click)="scrollToTop()" [ngClass]="{ 'show-scroll-to-top': windowScrolled }"
        class="btn btn-primary btn-icon scroll-to-top" rippleEffect type="button">
    <span [data-feather]="'arrow-up'"></span>
</button>
