<div class="modal-body px-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center text-md fw-bolder text-gray-700">
                View Reason
            </div>
        </div>

        <hr/>

        <div class="row mb-3">
            <div class="col-lg-12 text-sm mb-1">Reason</div>
            <div class="col-lg-12 text-sm fw-bold">Cleaning</div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-sm">Status</div>

            <div class="col-lg-9 text-sm fw-bold text-success">Active</div>
            <!-- <div class="col-lg-9 text-sm fw-bold text-success" *ngIf="status">Active</div>
              <div class="col-lg-9 text-sm fw-bold text-danger" *ngIf="!status">Inactive</div> -->
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-end align-items-center">
                <button
                        class="btn btn-sm border-0 font-weight-bolder text-gray-500"

                >
                    Close
                </button
                >
                <button
                        class="btn btn-sm btyesssn-outline-danger border-0"

                >
                    Deactivate
                </button
                >
                <button
                        class="btn btn-sm btn-outline-success border-0"

                >
                    Activate
                </button>
            </div>
            p
        </div>
    </div>
</div>
