<div class="modal-body px-0">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-8 text-center font-large-1 font-weight-extra-bold text-primary"
        >
          Shift
        </div>
        <div class="col-lg-4">
          <button
                class="btn btn-flat-primary text-nowrap flex-grow-0 mt-1"
                rippleEffect
              
                (click)="edit()"
              >
              Edit
              </button>
        </div>
      </div>
      <hr />
      
      <div class="col-12">
        <div class="row mb-1 px-1">
          <div class="col-lg-4">
            <div class="text-dark text-sm">Shift Name</div>
          </div>
          <div class="col-lg-8">
            <div class="text-gray-600 text-sm">{{ ref.name }}</div>
          </div>
        </div>
        <div class="row mb-1 px-1">
          <div class="col-lg-4">
            <div class="text-dark text-sm">Area</div>
          </div>
          <div class="col-lg-8">
            <div class="text-gray-600 text-sm">{{ ref.area }}</div>
          </div>
        </div>
        <div class="row mb-1 px-1">
          <div class="col-lg-4">
            <div class="text-dark text-sm">Start Time</div>
          </div>
          <div class="col-lg-8">
            <div class="text-gray-600 text-sm">{{ ref.startTime }}</div>
          </div>
        </div>
        <div class="row mb-1 px-1">
          <div class="col-lg-4">
            <div class="text-dark text-sm">Stop Time</div>
          </div>
          <div class="col-lg-8">
            <div class="text-gray-600 text-sm">{{ ref.stopTime }}</div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  