<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Future Algorithms Private Limited
  Copyright 2022 Future Algorithms Private Limited.
  Unauthorized copying of any files, via any medium is strictly prohibited.
  All Rights Reserved.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <div class="content-wrapper container-fluid p-0">
    <div class="content-body">
 
      <div class="card content-card">
        <div class="card-body">
          <div class="row justify-content-end mb-2">
            <div class="col-4 form-group">
              <div
                class="input-group w-100 d-flex justify-content-between align-items-center"
              >
                <ng2-flatpickr
                  id="schedule_range"
                  class="flex-grow-1"
                  [ngModel]="[start, end]"
                  placeholder="Select Dates"
                  #schedule_range="ngModel"
                  #picker
                  (ngModelChange)="setDates($event)"
                  [ngModelOptions]="{ standalone: true }"
                  [config]="rangeOptions"
                ></ng2-flatpickr>
  
                <span class="input-group-append">
                  <button
                    class="btn btn-secondary"
                    (click)="picker.flatpickr.toggle()"
                  >
                    <span [data-feather]="'calendar'"></span>
                  </button>
                </span>
              </div>
            </div>
  
            <div class="col-2">
              <button class="btn btn-secondary w-100" (click)="generate()">
                <span [data-feather]="'search'"></span> Generate
              </button>
            </div>
          </div>
  
          <div class="row">
            <div class="col-12" >
              <canvas id="chart"></canvas>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  </div>
  