<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Future Algorithms Private Limited
  Copyright 2022 Future Algorithms Private Limited.
  Unauthorized copying of any files, via any medium is strictly prohibited.
  All Rights Reserved.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}">
    <link rel="shortcut icon" th:href="@{/static/assets/images/logo.png}" type="image/png"/>
    <script src="https://cdn.tailwindcss.com"></script>
  <title>Clients - New</title>
</head>
<body>
<th:block th:replace="/fragments::nav-bar">
</th:block>
<div class="flex overflow-hidden bg-white pt-16">
<aside aria-label="Sidebar" class="fixed hidden z-20 h-full top-0 left-0 pt-16 flex lg:flex flex-shrink-0 flex-col w-64 transition-width duration-75" id="sidebar">
<div class="relative flex-1 flex flex-col min-h-0 border-r border-gray-200 ">
<div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
<div class="flex-1 px-3  divide-y space-y-1">
<ul class="space-y-2 pb-2">
<li>
<a class="text-base text-gray-900 font-normal rounded-lg flex items-center p-2 hover:bg-gray-100 group" href="https://demo.themesberg.com/windster/">
<svg class="w-6 h-6 text-gray-500 group-hover:text-gray-900 transition duration-75" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
        d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
<span class="ml-3">Entitiy Store</span>
</a>
</li>
<li>
<a class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group " href="https://demo.themesberg.com/windster-pro/kanban/" target="_blank">
<svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path
        d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path></svg>
<span class="ml-3 flex-1 whitespace-nowrap">Roles</span>
</a>
</li>
<li>
<a class="text-base text-gray-900 font-normal rounded-lg hover:bg-gray-100 flex items-center p-2 group " href="https://demo.themesberg.com/windster/users/list/">
<svg class="w-6 h-6 text-gray-500 flex-shrink-0 group-hover:text-gray-900 transition duration-75" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd"
                                                                                                                                                                                   d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                                                                                                                                                                   fill-rule="evenodd"></path></svg>
<span class="ml-3 flex-1 whitespace-nowrap">Clients</span>
</a>
</li>
</ul>






</div>
</div>
</div>
</aside>
<div class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10" id="sidebarBackdrop"></div>
<div class=" w-full bg-[#f8f8f8] relative overflow-y-auto lg:ml-64 px-4 py-4" id="main-content" style="min-height:calc(100vh - 65px)">
<main>

<div class="overflow-hidden shadow sm:rounded-md">
    <div class="bg-white px-80 py-96 sm:p-10">
      <div class="grid grid-cols-11 gap-6">
        <div class="col-span-7 sm:col-span-3">
          <label class="block text-lg font-medium text-gray-900" for="client-id">Client ID</label>
          <input class="mt-1 block w-full rounded-md border-gray-300 bg-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="client-id"/>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label class="block text-lg font-medium text-gray-700" for="name">Client Name</label>
          <input class="mt-1 block w-full rounded-md border-gray-300 bg-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="name"/>
        </div>
        <div class="col-span-6 sm:col-span-4">
          <label class="block text-lg font-medium text-gray-700" for="client-secret">Client Secret</label>
          <input class="mt-1 block w-full rounded-md border-gray-300 bg-gray-100 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="client-secret"/>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label class="block text-lg font-medium text-gray-700" for="method">Authentication Method</label>
          <select class="mt-1 block w-full rounded-md border border-gray-300 bg-gray-50 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" id="method">
            <option>Select</option>
            <option>Basic</option>
            <option>Client Secret Basic</option>
            <option>Client Secret Post</option>
            <option>Client Secret JWT</option>
            <option>Private Hex JWT</option>
            <option>None</option>
          </select>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label class="block text-lg font-medium text-gray-700" for="grant-type">Grant Type</label>
          <select class="mt-1 block w-full rounded-md border border-gray-300 bg-gray-50 py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
                  id="grant-type">
            <option>Select</option>
            <option>Inplicit</option>
            <option>Refresh Token</option>
            <option>Client Credentials</option>
            <option>Password</option>
          </select>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
      <button class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              type="submit">Save</button>
    </div>
  </div>
</main>
 </div>
</div>


</body>
</html>