<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Future Algorithms Private Limited
  Copyright 2022 Future Algorithms Private Limited.
  Unauthorized copying of any files, via any medium is strictly prohibited.
  All Rights Reserved.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}">
    <link rel="shortcut icon" th:href="@{/static/assets/images/logo.png}" type="image/png"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>User Consent</title>
    <script>
		function cancelConsent() {
            document.consent_form.reset();
            document.consent_form.submit();
        }
	</script>
</head>
<body>
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
    <img alt="" class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" src="https://play.tailwindcss.com/img/beams.jpg" width="1308"/>
    <div class="absolute inset-0 bg-[url(https://play.tailwindcss.com/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
    
    <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-5xl sm:rounded-lg sm:px-10">
      <div class="max-h-full max-y-full">
        <div class=" text-2xl flex justify-center items-center font-bold">
        <span>Consent Required</span>
        </div>
        
        <div class="divide-y divide-gray-300/50">
          <div class="space-y-6 px-3 py-8 text-sm text-center text-blue-600">
            <p>
                <span th:text="${clientName}"></span>
              <code class="text-base text-black"> wants to access your account </code>
              <code class="font-bold text-black" th:text="${principalName}"></code>
            </p>
            <ul class="space-y-4">
              <li class="flex items-center text-sm text-center text-black">
                  <p class="ml-4">
                    <div>The following permissions are requested by the above app.</div>
                    <div class="text-center">Please review these and consent if you approve.</div>
                  </p>
              </li>
            </ul>
            
            <form class="bg-slate-50 border-slate-100 border py-3 px-3 rounded-lg overflow-auto" style="max-height:340px" id="consentForm" name="consent_form" method="post" th:action="@{/oauth2/authorize}">
                <input type="hidden" name="client_id" th:value="${clientId}">
                <input type="hidden" name="state" th:value="${state}">
                
                <div th:each="scope: ${scopes}" class="flex justify-start mb-2">
                  <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                         checked th:id="${scope.tag()}" name="scope" type="checkbox" th:value="${scope.tag()}">
                  <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" th:for="${scope.tag()}" th:text="${scope.description()}"></label>
                </div>
                
                <div th:each="scope: ${approved}" class="flex justify-start mb-2">
                  <input class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                         disabled checked th:id="${scope.tag()}" name="scope" type="checkbox" th:value="${scope.tag()}">
                  <label class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" th:for="${scope.tag()}" th:text="${scope.description()}"></label>
                </div>
            </form>
            <div class="flex justify-center">
              <button type="submit" form="consentForm"
                      class="hidden sm:inline-flex ml-5 text-white bg-blue-700 hover:bg-blue-600 focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center mr-3">
                Submit Consent
              </button>
           </div>
           <div>
            <button onclick="cancelConsent()" type="button" class=" px-40 text-sm font-medium text-blue-500 hover:text-blue-400">Cancel</button>
           </div>
           <div class="text-black flex justify-center text-sm font-bold px-12">
             <span>Your consent to provide access is required.</span>
          </div>
          <div class="text-black text-center text-xs px-12">
             <span>If you do not approve. click Cancel. in which case no information will be shared with the app.</span>
          </div>
         </div>
          </div>
        </div>
  </div>
</div>
</body>
</html>
