<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Future Algorithms Private Limited
  Copyright 2022 Future Algorithms Private Limited.
  Unauthorized copying of any files, via any medium is strictly prohibited.
  All Rights Reserved.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fragments</title>
</head>
<body>

<nav class="bg-white border-b border-gray-200 fixed z-30 w-full" th:fragment="nav-bar">
<div class="px-3 py-3 lg:px-5 lg:pl-3">
<div class="flex items-center justify-between">
<div class="flex items-center justify-start">
<button aria-controls="sidebar" aria-expanded="true"
        class="lg:hidden mr-2 text-gray-600 hover:text-gray-900 cursor-pointer p-2 hover:bg-gray-100 focus:bg-gray-100 focus:ring-2 focus:ring-gray-100 rounded" id="toggleSidebarMobile">
<svg class="w-6 h-6" fill="currentColor" id="toggleSidebarMobileHamburger" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd"
                                                                                                                                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                                                                                                                        fill-rule="evenodd"></path></svg>
<svg class="w-6 h-6 hidden" fill="currentColor" id="toggleSidebarMobileClose" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd"
                                                                                                                                           d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                                                                                                           fill-rule="evenodd"></path></svg>
</button>
<a class="text-xl font-bold text-[#7367f0] flex items-center lg:ml-2.5" href="demo.themesberg.com/windster/">
<img class="h-6 mr-2" src="file:///Users/dushyantyadav/Downloads/logo.svg">
<span class="self-center whitespace-nowrap">Future Algos</span>
</a>

</div>
<div class="flex items-center">

<div class="hidden lg:flex items-center">
<span class="text-base font-normal text-gray-500 mr-5">Name</span>

</div>
<a class="hidden sm:inline-flex ml-5 text-white bg-[#7367f0] hover:bg-purple-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center mr-3" href="#">

Log Out
</a>
</div>
</div>
</div>
</nav>

</body>
</html>