<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Future Algorithms Private Limited
  Copyright 2022 Future Algorithms Private Limited.
  Unauthorized copying of any files, via any medium is strictly prohibited.
  All Rights Reserved.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/static/assets/css/style.css}">
    <link rel="shortcut icon" th:href="@{/static/assets/images/logo.png}" type="image/png"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>SSO Login</title>
</head>
<body>
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
    <img alt="" class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" src="https://play.tailwindcss.com/img/beams.jpg" width="1308"/>
    <div class="absolute inset-0 bg-[url(https://play.tailwindcss.com/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
    <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
        <div>
            <img alt="Logo" class="mx-auto h-12 w-auto" th:src="@{/static/assets/images/logo.svg}"/>
            <h2 class="mt-6 text-center text-3xl font-semibold text-gray-900">Sign in to your account</h2>
            <p class="mt-2 text-center text-sm font-medium text-red-600 hover:text-red-500" th:if="${param.error}">
                [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <form class="mt-8 space-y-6" method="POST" th:action="@{/login(client_id=${client_id})}">
            <input name="remember" type="hidden" value="true"/>
            <div class="-space-y-px rounded-md shadow-sm">
                <div>
                    <label class="sr-only" for="email-address">Username</label>
                    <input autocomplete="email" autofocus
                           class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-3 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
                           id="email-address" name="username" placeholder="Email address" required type="email"/>
                </div>
                <div>
                    <label class="sr-only" for="password">Password</label>
                    <input autocomplete="current-password"
                           class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-3 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-violet-500 focus:outline-none focus:ring-violet-500 sm:text-sm"
                           id="password" name="password" placeholder="Password" required type="password"/>
                </div>
            </div>
            <div>
                <button class="group relative flex w-full justify-center rounded-md border border-transparent bg-violet-600 py-3 px-4 text-sm font-medium text-white hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2"
                        type="submit">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg aria-hidden="true" class="h-5 w-5 text-violet-500 group-hover:text-violet-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" fill-rule="evenodd"/>
            </svg>
          </span>
                    Sign in
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>