<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Future Algorithms Private Limited
  Copyright 2022 Future Algorithms Private Limited.
  Unauthorized copying of any files, via any medium is strictly prohibited.
  All Rights Reserved.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="content-wrapper container-fluid p-0">
  <div class="content-body">
    <app-screen-header [icon]="'oee'" [title]="'Entries'">
      <div class="card mb-0 shadow-primary header-tab-bar px-2" tab-bar>
        <ul
          #tabBar="ngbNav"
          class="nav-tabs mb-0 h-100"
          [(activeId)]="currentTab"
          ngbNav
        >
          <li ngbNavItem="today">
            <a ngbNavLink>
              <span
                [data-icon]="'outline_essential_check_square'"
                class="font-small-2"
              ></span>
              <span class="ml-1">Today's Entries</span></a
            >
            <ng-template ngbNavContent>
              <app-shift-overview></app-shift-overview>
            </ng-template>
          </li>
          <li ngbNavItem="pending">
            <a ngbNavLink
              ><span
                [data-icon]="'outline_essential_danger_square'"
                class="font-small-2"
              ></span>
              <span class="ml-1">Pending Entries</span></a
            >
            <ng-template ngbNavContent>
              <app-pending></app-pending>
            </ng-template>
          </li>

          <li ngbNavItem="reports">
            <a ngbNavLink>
              <span
                [data-icon]="'outline_essential_danger_square'"
                class="font-small-2"
              ></span>
              <span class="ml-1">Reports</span></a
            >
            <ng-template ngbNavContent>
              <app-reports [start]="start" [end]="end"></app-reports>
            </ng-template>
          </li>

          <li ngbNavItem="zll_reports">
            <a ngbNavLink>
              <span
                [data-icon]="'outline_essential_danger_square'"
                class="font-small-2"
              ></span>
              <span class="ml-1">ZLL Reports</span></a
            >
            <ng-template ngbNavContent>
              <app-zll-report></app-zll-report>
            </ng-template>
          </li>
        </ul>
      </div>

      <div class="card mb-0 shadow-primary" tag>
        <div
          *ngIf="currentTab != 'reports' && entriesToday > -1"
          class="card-body d-flex flex-column justify-content-center align-items-end"
        >
          <span class="font-weight-extra-bold font-large-3">{{
            entriesToday
          }}</span>
          <span class="font-medium-1">Entries Today</span>
        </div>

        <div
          *ngIf="currentTab == 'reports'"
          class="card-body d-flex flex-column justify-content-center align-items-stretch"
        >
          <div
            class="input-group w-100 d-flex justify-content-between align-items-center"
          >
            <ng2-flatpickr
              id="schedule_range"
              class="flex-grow-1"
              [ngModel]="[start, end]"
              placeholder="Select Dates"
              #schedule_range="ngModel"
              #picker
              (ngModelChange)="setDates($event)"
              [ngModelOptions]="{ standalone: true }"
              [config]="rangeOptions"
            ></ng2-flatpickr>

            <span class="input-group-append">
              <button
                class="btn btn-secondary"
                (click)="picker.flatpickr.toggle()"
              >
                <span [data-feather]="'calendar'"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </app-screen-header>

    <div class="row">
      <div class="col-12">
        <div [ngbNavOutlet]="tabBar"></div>
      </div>
    </div>
  </div>
</div>
