<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Future Algorithms Private Limited
  Copyright 2022 Future Algorithms Private Limited.
  Unauthorized copying of any files, via any medium is strictly prohibited.
  All Rights Reserved.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div class="content-wrapper container-fluid p-0">
    <div class="content-body">
        <app-screen-header [icon]="'outline_transport_spedometer_max'" [title]="'Machines'">
            <div class="card mb-0 shadow-primary header-tab-bar px-2" tab-bar>
                <ul #tabBar="ngbNav" class="nav-tabs mb-0 h-100" ngbNav>
                    <li ngbNavItem>
                        <a ngbNavLink>
                            <span [data-icon]="'outline_essential_check_square'" class="font-small-2"></span>
                            <span class="ml-1">Active</span></a>
                        <ng-template ngbNavContent>
                            <app-machines-active></app-machines-active>
                        </ng-template>
                    </li>

                    <li ngbNavItem>
                        <a ngbNavLink>
                            <span [data-icon]="'outline_essential_danger_square'" class="font-small-2"></span>
                            <span class="ml-1">Inactive</span></a>
                        <ng-template ngbNavContent>
                            <app-machines-inactive></app-machines-inactive>
                        </ng-template>
                    </li>
                </ul>
            </div>
            
            <div class="row match-height" tag>
                <div class="col-6" *ngIf="activeCount > -1">
                    <div class="card mb-0 shadow-primary">
                        <div class="card-body d-flex flex-column justify-content-center align-items-end">
                            
                            <span class="font-weight-extra-bold font-large-3">{{ activeCount }}</span>
                            <span class="font-medium-1">Active</span>
                        </div>
                    </div>
                </div>
                
                 <div class="col-6" *ngIf="inactiveCount > -1">
                    <div class="card mb-0 shadow-primary">
                        <div class="card-body d-flex flex-column justify-content-center align-items-end">
                            <span class="font-weight-extra-bold font-large-3">{{ inactiveCount }}</span>
                            <span class="font-medium-1">Inactive</span>
                        </div>
                    </div>
                </div>
            </div>
        </app-screen-header>

        <div class="row">
            <div class="col-12 mt-2">
                <div [ngbNavOutlet]="tabBar"></div>
            </div>
        </div>
    </div>
</div>
