<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Future Algorithms Private Limited
  Copyright 2022 Future Algorithms Private Limited.
  Unauthorized copying of any files, via any medium is strictly prohibited.
  All Rights Reserved.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!-- Main menu -->
<div class="navbar-container main-menu-content">
    <ul class="nav navbar-nav" core-menu id="main-menu-navigation" layout="horizontal"></ul>
</div>
<!--/ Main menu -->
