<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Future Algorithms Private Limited
  Copyright 2022 Future Algorithms Private Limited.
  Unauthorized copying of any files, via any medium is strictly prohibited.
  All Rights Reserved.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<div *ngIf="horizontalMenu" class="navbar-header d-xl-block d-none">
    <!-- Navbar brand -->
    <ul class="nav navbar-nav flex-row">
        <li class="nav-item">
            <a [routerLink]="['/']" class="navbar-brand">
        <span class="brand-logo">
          <img alt="brand-logo" src="{{ coreConfig.app.appLogoExtended }}"/>
        </span>
            </a>
        </li>
    </ul>
    <!--/ Navbar brand -->
</div>

<div class="navbar-container d-flex content">
    <div class="bookmark-wrapper d-flex align-items-center">
        <!-- Menu Toggler | Menu icon will be hidden in case of layout without menu -->
        <ul *ngIf="!coreConfig.layout.menu.hidden" class="nav navbar-nav d-xl-none">
            <li class="nav-item">
                <a (click)="toggleSidebar('menu')" class="nav-link menu-toggle">
                    <span [class]="'ficon'" [data-feather]="'menu'"></span>
                </a>
            </li>
        </ul>
        <!--/ Menu Toggler -->
    </div>

    <ul class="nav navbar-nav align-items-center ml-auto">
        <!-- Toggle skin -->
        <li class="nav-item d-none d-lg-block">
            <a (click)="toggleDarkSkin()" class="nav-link nav-link-style btn">
        <span
                [ngClass]="currentSkin === 'dark' ? 'icon-sun' : 'icon-moon'"
                class="ficon font-medium-5 feather"
        ></span>
            </a>
        </li>
        <!--/ Toggle skin -->

        <!-- Search -->
        <app-navbar-search></app-navbar-search>
        <!--/ Search -->

        <!-- ? Language selection | Uncomment if needed-->
        <!-- <li ngbDropdown class="nav-item dropdown dropdown-language">
              <a class="nav-link dropdown-toggle" id="dropdown-flag" ngbDropdownToggle>
                <i class="flag-icon flag-icon-{{ languageOptions[_translateService.currentLang].flag }}"></i
                ><span class="selected-language">{{ languageOptions[_translateService.currentLang].title }}</span></a
              >
              <div ngbDropdownMenu aria-labelledby="dropdown-flag">
                <a *ngFor="let lang of _translateService.getLangs()" ngbDropdownItem (click)="setLanguage(lang)">
                  <i class="flag-icon flag-icon-{{ languageOptions[lang].flag }}"></i> {{ languageOptions[lang].title }}
                </a>
              </div>
            </li> -->
        <!--/ Language selection -->

        <app-navbar-notification></app-navbar-notification>

        <!-- User Dropdown -->
        <li class="nav-item dropdown-user" ngbDropdown>
            <a
                    aria-expanded="false"
                    aria-haspopup="true"
                    class="nav-link dropdown-toggle dropdown-user-link"
                    id="navbarUserDropdown"
                    ngbDropdownToggle
            >
                <i class="ficon" data-feather="user"></i>
            </a>
            <div
                    aria-labelledby="navbarUserDropdown"
                    class="dropdown-menu dropdown-menu-right"
                    ngbDropdownMenu
            >
                <div class="d-flex flex-column dropdown-header">
          <span class="text-muted">Signed in as</span
          ><span class="font-weight-bold mt-1">{{
                    currentUser ? currentUser.fullName : "--"
                    }}</span>
                </div>
                <div class="dropdown-divider"></div>
                <a [routerLink]="['/profile']" ngbDropdownItem
                ><span [class]="'mr-50'" [data-feather]="'user'"></span> Profile</a
                >
                <div class="dropdown-divider"></div>
                <a [routerLink]="['/profile']" ngbDropdownItem
                ><span [class]="'mr-50'" [data-feather]="'settings'"></span>
                    Settings</a
                >
                <a (click)="logout()" ngbDropdownItem
                ><span [class]="'mr-50'" [data-feather]="'power'"></span> Logout</a
                >
            </div>
        </li>
        <!--/ User Dropdown -->
    </ul>
</div>
