<div class="modal-dialog sidebar-lg">
    <div class="modal-content p-0">
      <div class="modal-header mb-1 pt-1 p-0">
        <div class="modal-title w-100 p-0">
          <div class="row px-0 mx-0">
            <div class="col-12 mb-1 d-flex justify-content-center align-items-center font-medium-3 font-weight-bolder">
              Add Holiday
            </div>
          </div>
        </div>
      </div>
  
      <div class="modal-body flex-grow-1">
        <form action="#" class="invoice-repeater px-1">
          <div class="d-flex flex-column g-2 p-1 border rounded-lg">
            <input 
            type="text"
            [(ngModel)]="holidayTitle"
            name="Holidays title"
            placeholder="Title"
            id="holiday_title"
            class="form-control mb-1"
            />
            <input 
            type="text"
            [(ngModel)]="holidayDesc"
            name="Holidays Description"
            placeholder="Description"
            id="holiday_desc"
            class="form-control mb-1"
            />
            <input
            #basicDP="ngbDatepicker"
            (click)="basicDP.toggle()"
            [(ngModel)]="basicDPdata"
            placeholder="Date"
            class="form-control "
            name="Basic Date Picker"
            ngbDatepicker
            />
          </div>
        </form>
      </div>
  
      <div class="modal-footer">
        <div class="col-12 d-flex justify-content-between align-items-center">
          <button
            class="btn btn-secondary w-100 mr-1"
            rippleEffect
            type="submit"
            (click)="saveHoliday()"
          >
            <span class="align-middle d-sm-inline-block d-none">Save</span>
          </button>
          <button
            class="btn btn-flat-secondary w-100 ml-1"
            rippleEffect
            type="reset"
            (click)="toggleSidebar()"
          >
            <span class="align-middle d-sm-inline-block d-none">Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  