<form #remarksForm="ngForm" class="container-fluid h-100 d-flex flex-column">
    <div class="col container-fluid px-5 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-12 px-2">
                <textarea class="form-control form-control-xl" rows="15" [(ngModel)]="payload.remarks"
                          name="remarks" placeholder="Remarks"></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="mt-2 d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start align-items-center">
                    <button *ngIf="isNotEdit" class="btn btn-secondary" rippleEffect (click)="saveEntry(remarksForm)">
                        <span [data-icon]="'save'" class="mr-1 font-medium-1"></span><span
                            class="text-default">Save</span>
                    </button>
                </div>

                <div class="d-flex justify-content-end align-items-center">
                    <button (click)="prev()"
                            class="btn btn-flat-secondary btn-prev mr-1"
                            rippleEffect>
                        <i class="align-middle mr-sm-25 mr-0" data-feather="chevron-left"></i>
                        <span class="align-middle d-sm-inline-block d-none ml-sm-1">Previous</span>
                    </button>
                    <button (click)="next()"
                            class="btn btn-secondary btn-next"
                            rippleEffect
                            type="submit">
                        <span class="align-middle d-sm-inline-block d-none mr-sm-2 text-default">Submit</span>
                        <i class="align-middle text-default" data-feather="chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
